// START: layout vars
$xs = '(max-width: 767px)'
$smMinus = '(max-width: 1023px)'
$sm = '(min-width: 768px) and (max-width: 1023px)'
$smPlus = '(min-width: 768px)'
$mdMinus = '(max-width: 1283px)'
$md = '(min-width: 1024px) and (max-width: 1283px)'
$mdPlus = '(min-width: 1024px)'
$lgPlus = '(min-width: 1284px)'
$xl = '(min-width: 1920px)'

$smBoxWidth = 1044px
$mdBoxWidth = 1236px

$xsHeaderHeight = 48px
$smHeaderHeight = 98px
$mdHeaderHeight = 98px

$xsFooterHeight = 70px
$smFooterHeight = 66px
$mdFooterHeight = 100px
// END: layout vars

// START: color vars
$dark = #1D1D1D
$gray = #373737
$gray2 = #535353
$white = #fff
$white2 = #E8E8E8
$white3 = #f7f7f7
$red = #ff161f
$redHover = #eb1119
$red2 = #ff120f
$red2Hover = #eb1119
$red3 = #ed1c24
// END: color vars

// START: font vars
$fontFamily = 'DINPro', sans-serif
// END: font vars