.AboutMoney
	&_title
		margin-bottom 7px
		
		@media $smPlus
			margin-bottom 11px
	
	&_subtitle
		margin-bottom 34px
		
		@media $smPlus
			margin-bottom 30px
	
	&_list
		margin-bottom 48px
		
		@media $sm
			padding-right 25px
		
		@media $smPlus
			margin-bottom 49px
		
		@media $mdPlus
			margin-bottom 88px
	
	&_tariffsSection
		margin-right auto
		margin-left auto
		
		@media $mdPlus
			padding-left 4px