.FrontpageSection
	&_pageBg
		margin-bottom 27px
		
		@media $sm
			margin-bottom -339px
		
		@media $md
			margin-top -103px
			margin-bottom -170px
		
		@media $lgPlus
			margin-top -147px
			margin-bottom -392px
		
	&_title
		margin-bottom 19px
		
		@media $smPlus
			margin-bottom 24px
		
		@media $sm
			margin-left 2px
		
		@media $mdPlus
			margin-bottom 21px
	
	&_explanation
		margin-bottom 33px
		
		@media $smPlus
			margin-bottom 84px
			margin-left 2px
		
		@media $mdPlus
			margin-bottom 179px
	
	&_stock
		margin-bottom 54px
		
		@media $smPlus 
			margin-bottom 65px
		
		@media $mdPlus
			margin-bottom 60px
	
	&_swiper
		margin-right -20px
		margin-left -20px
		
		@media $smPlus
			margin-right -40px
			margin-left -40px
		
		@media $mdPlus
			margin-right 0
			margin-left 0
		
		&-infoBlock
			padding-right 20px
			padding-left 20px
			
			@media $smPlus
				margin-right -20px
				margin-left -20px
			
			@media $mdPlus
				margin-right 0
				margin-left 0
				padding-right 0
				padding-left 0
	
	&_swiperAll
		margin-bottom 50px
		
		@media $smPlus
			margin-bottom 69px
		
		@media $mdPlus
			margin-bottom 93px
	
	&_trainings
		margin-bottom 48px
		
		@media $smPlus
			margin-bottom 24px
		
		@media $mdPlus
			margin-bottom 42px