.Heading1
	font-weight bold
	font-size 50px
	line-height 1.2
	text-transform uppercase
	letter-spacing 0.4px
	color $white3
	
	&-large
		font-size 60px
		line-height 1
		letter-spacing 0.5px
		
		@media $smPlus
			font-size 90px
			letter-spacing 0.8px