.InfoBlock
	&_img
		margin-bottom 14px
		color $red2
		
		@media $smPlus
			margin-bottom 21px
		
		@media $mdPlus
			margin-bottom 28px
		
	&_caption
		font-weight 500
		font-size 18px
		line-height 1.24
		text-transform uppercase
		color $white
		
		@media $smPlus
			font-size 20px
		
	&-large
		.InfoBlock_img
			margin-bottom 21px
			
		.InfoBlock_caption
			font-size 20px