.Instagram
	&_link
		display inline-flex
		align-items center
		text-decoration underline
		
		&:hover
			text-decoration none
		
	&_icon
		width 30px
		height 31px
		color #D8D8D8
	
	&_login
		margin-top 1px
		margin-left 23px
		font-size 15px