.MainContent
	flex 1 0 auto
	padding-top 24px
	padding-bottom 65px
	
	@media $smMinus
		margin-top 64px
	
	@media $smPlus
		padding-top 57px
		padding-bottom 107px
	
	@media $mdPlus
		padding-top 61px
		padding-bottom 195px
	
	&-frontpage
		padding-top 6px
		padding-bottom 29px
		
		@media $mdPlus
			padding-bottom 36px
	
	&-basePage
		padding-bottom 50px
		
		@media $mdPlus
			padding-bottom 170px
	
	&-pageAboutMoney
		@media $smPlus
			padding-top 24px
		
		@media $mdPlus
			padding-top 60px