.MobileApp
	font-weight bold
	font-size 15px
	letter-spacing 0.9px
	color $white
	
	&_title
		margin-bottom 6px
		line-height 1.34
		
		@media $smPlus
			margin-bottom 15px
		
		@media $mdPlus
			text-transform uppercase
	
	&_icons
		display flex
		justify-content space-between
		align-items center
		width 252px
		margin-bottom 23px
		
		@media $smPlus
			margin-bottom 33px
	
	&_icon
		width 103px
	
	&_text
		text-transform uppercase