.ParkingScheme
	@media $mdPlus
		background url('../img/ribbons.svg') 78.8% 56.7% / auto 517px no-repeat
		text-align center
		
	&_title, &_subtitle
		font-weight 500
		color $white
		
		@media $mdPlus
			text-indent -42px
	
	&_title
		margin-bottom 27px
		
		@media $mdPlus
			margin-bottom 45px
	
	&_subtitle
		margin-bottom 20px
		font-size 16px
		text-transform uppercase
		
		@media $smPlus
			margin-bottom 32px
		
		@media $mdPlus
			margin-bottom 25px
	
	&_img
		position relative
		height 337px
		margin-bottom 36px
		background url('../img/territory_scheme.png') center center / auto 100% no-repeat
		
		@media $smPlus
			height 519px
			margin-bottom 54px
		
		@media $mdPlus
			margin-bottom 30px
	
	&_zoomImg
		position absolute
		top 20px
		right 20px
	
	&_text
		font-size 16px
		line-height normal