.SocIcons
	display flex
	justify-content space-between
	align-items center
	width 140px
	
	@media mdPlus
		width 142px
	
	&_link
		color $white2
		// &-telegram
		// 	color #00ACED
			
		// &-whatsapp
		// 	color #25d366
			
		// &-viber
		// 	color #8f5db7