.SocNetworks
	color $white2
	
	&_title
		margin-bottom 17px
		font-weight 500
		font-size 14px
		text-transform uppercase
		
		@media $mdPlus
			margin-bottom 20px
			font-size 16px
		
	&_list
		display flex
		justify-content center
		align-items center
		
		@media $mdPlus
			margin-left 4px
	
	&_item
		margin 0 18px
		
		@media $mdPlus
			margin 0 16px
	
	&_link
		display block
		
		&-facebook
			width 13px
			height 25px
		
		&-instagram
			width 25px
			height 24px