.Subtitle
	font-weight 500
	font-size 18px
	line-height 1.5
	text-transform uppercase
	color $white
	
	@media $mdPlus
		font-size 30px
		line-height 1.34
	
	&-pageAboutMoney
		@media $sm
			font-size 30px
			line-height 1.34