.Trainers
	position relative
	
	&_pageBg
		@media $mdPlus
			position absolute
			top -137px
			left 0
			width 100%
		
		@media $lgPlus
			top -181px
			
	&_title
		margin-bottom 15px
		
		@media $mdPlus
			margin-top -20px
			margin-bottom 25px
			text-align center
	
	&_explanation
		margin-bottom 47px
		
		@media $smPlus
			margin-bottom 96px
		
		@media $mdPlus
			margin-bottom 118px
			text-align center