.Travel
	&_title, &_text
		@media $mdPlus
			text-align center
			
	&_title
		margin-bottom 15px
		font-weight 500
		color $white
		
		@media $mdPlus
			margin-top -62px
	
	&_text
		margin-bottom 26px
		line-height 1.38
		
		@media $smPlus
			margin-bottom 45px
		
		@media $mdPlus
			margin-bottom 25px
	
	&_link
		text-decoration underline
		
		&:hover
			text-decoration none
	
	&_map
		margin-bottom 30px
		
		@media $smPlus
			margin-bottom 42px
		
		@media $mdPlus
			margin-bottom 103px
	
	&_parkingScheme
		margin-bottom 43px
		
		@media $smPlus
			margin-bottom 86px
		
		@media $mdPlus
			margin-bottom 83px
	
	&_parkingSchemeImg
		margin-right -20px
		margin-left -20px
		
		@media $smPlus
			margin-right -40px
			margin-left -40px
	
	&_form
		margin-bottom 43px
		
		@media $smPlus
			margin-bottom 104px
		
		@media $mdPlus
			margin-bottom 109px
	
	&_list
		@media $mdPlus
			text-align center