.TrialLessonSection
	padding-top 28px
	padding-right 20px
	padding-bottom 48px
	padding-left 20px
	background url('../img/bg_form_trial_lesson.png') 48.55% 0 / cover no-repeat
	
	@media $smPlus
		padding-top 38px
	
	@media $mdPlus
		padding-top 60px
		padding-bottom 102px
		background url('../img/bg_form_trial_lesson_md.png') calc(50% + 2px) 0 / cover no-repeat