footer.Footer
	.Container.Footer_container
		.Footer_column.Footer_column-first
			a(href="tel:+79265200800", title="Позвонить").Footer_phone.Footer_phone-mobile +7 926 520-08-00
			.Footer_phone.hidden-xs +7 926 520-08-00
			include SocIcons
			a(href="mailto:info@iceboxfitness.ru", title="Написать на почту").Footer_email info@iceboxfitness.ru
		.Footer_column.Footer_column-second
			include SocNetworks
			.Footer_copyright 2018 © IceBox Fitness
		.Footer_column
			a(href="https://blue-ant.ru/", target="_blank", title="Компания \"Синий муравей\"").Footer_companyLogo
				include ../svg/SvgIco/company_logo