.MobileNavigation.Header_mobileNavigation
	.Container
		.MainMenu
			ul.MainMenu_menu
				li.MainMenu_item
					a(href="/about.html").MainMenu_link О нас
				li.MainMenu_item
					a(href="/fitness.html").MainMenu_link Фитнес
				li.MainMenu_item
					a(href="/bathroom.html").MainMenu_link Бассейн
				li.MainMenu_item
					a(href="/studio.html").MainMenu_link Studio
				li.MainMenu_item
					a(href="/crossfit.html").MainMenu_link CrossFit
				li.MainMenu_item
					a(href="/children.html").MainMenu_link Детям
				li.MainMenu_item
					a(href="/trainers.html").MainMenu_link Тренеры
				li.MainMenu_item
					a(href="/about_money.html").MainMenu_link Про деньги
				li.MainMenu_item
					a(href="/travel.html").MainMenu_link Проезд