ul.SocIcons.Footer_socIcons
	li.SocIcons_item
		a(href="https://t.me/iceboxfitness", target="_blank" title="Telegram").SocIcons_link.SocIcons_link-telegram
			include ../svg/SvgIco/telegram
	li.SocIcons_item
		a(href="https://www.whatsapp.com/", target="_blank" title="WhatsApp").SocIcons_link.SocIcons_link-whatsapp
			include ../svg/SvgIco/whatsapp
	li.SocIcons_item
		a(href="https://www.viber.com/", target="_blank" title="Viber").SocIcons_link.SocIcons_link-viber
			include ../svg/SvgIco/viber