.SocNetworks.Footer_socNetworks
	h3.SocNetworks_title Мы в соц. сетях
	ul.SocNetworks_list
		li.SocNetworks_item
			a(href="https://www.facebook.com/iceboxfitness.ru/", target="_blank" title="Facebook").SocNetworks_link.SocNetworks_link-facebook
				include ../svg/SvgIco/facebook
		li.SocNetworks_item
			a(href="https://www.instagram.com/crossfiticebox/", target="_blank" title="Instagram").SocNetworks_link.SocNetworks_link-instagram
				include ../svg/SvgIco/instagram